QWidget {
   background-color: 'black';
   font-size: 15px;
   font-family: 'comic sans ms';
}

QLineEdit {
   background-color: 'Dark blue';
   color: 'red';
   border-color: 'black';
   padding: 3px;
   border-style: normal;
   text-align: center;
}

QComboBox {
   background-color: 'Dark blue';
   color: 'red';
   border-color: 'black';
   padding: 3px;
   border-style: normal;
   text-align: center;
}

QListView {
   background-color: 'Dark blue';
   color: 'red';
   border-color: 'black';
   padding: 3px;
   border-style: normal;
   text-align: center;
}

QLabel {
   color: 'red';
   font-weight: bold;
}

QPushButton {
   background-color: 'Dark blue';
   color: 'red';
   border-radius: 5px;
   border-style: none;
   padding: 3px;
}

QTextEdit {
   background-color: 'Dark blue';
   color: 'red';
   border-color: 'black';
   padding: 3px;
   border-style: normal;
}

QProgressBar {
	background-color: 'Dark blue';
	color: 'red';
	padding: 0px;
	border: 2px solid white;
	border-radius: 25px;
}

QTabWidget {
   background-color: 'Dark blue';
   color: 'red';
   border: '2px solid green';
   padding: 3px;
   text-align: center;
}